.content__default:not(.custom)>h1, .content__default:not(.custom)>h2, .content__default:not(.custom)>h3, .content__default:not(.custom)>h4, .content__default:not(.custom)>h5, .content__default:not(.custom)>h6 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}