.theme-reco-content.content__default:not(.custom)>h1, .theme-reco-content.content__default:not(.custom)>h2, .theme-reco-content.content__default:not(.custom)>h3, .theme-reco-content.content__default:not(.custom)>h4, .theme-reco-content.content__default:not(.custom)>h5, .theme-reco-content.content__default:not(.custom)>h6 {
    margin-top: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 0;
}